[Unit]
Description= {{ description }}

[Service]
ExecStartPre=/bin/sleep 15
WorkingDirectory={{ working_directory }}
ExecStart={{ exec_start }}
Restart=always
RestartSec=15
KillSignal=SIGINT
SyslogIdentifier={{ syslog_identifier }}

[Install]
WantedBy=default.target